# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Django
*.sqlite3
media/
staticfiles/
.env

# Virtual env
backend/.venv/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
